<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <form action=" " method="get">
        <div>
            <label for="id_name">Name:</label>
            <input type="text" name="name" required id="id_name">
        </div>
        <div>
            <label for="{{form.name.id_for_label}}">Name:</label>
            {{form.name}}  
            <!-- # below shows only input field not label  -->
            {{form.email.label_tag}}
            {{form.email}}  
        </div>
        <div>
        {{form.name.label_tag}}
        {{form.name}}
        {{form.name.label_tag}}
        {{form.name.value}}
        {{form.name.html_name}} <br>
        {{form.name.help_text}} <br>
        {{form.name.field.required}}
    </div>
        
</body>
</html>
    <!-- <table>
            {{form}}
        </table>
        <input type="submit" value="submit">
    </form> -->
    <!-- <hr>
    <form action="" method="get">
        {{form.as_table}}
        <input type="submit" value="Submit">
    </form>
    <hr>
    <form action="" method="get">
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form> -->

    
    
